<!--Modifica el contenido del apartado de about-->
{% extends 'base.html' %}
{% block 'contenido' %}
    <h1 style="text-align: center;">Acerca de nosotros</h1>

    <p>¡Bienvenido a OnlyFlans!
    En OnlyFlans, nos apasiona el arte de crear los flanes más deliciosos y exquisitos que puedas imaginar.
    Desde nuestros modestos comienzos en el corazón de Ovalle, nos hemos dedicado a perfeccionar cada receta, combinando tradición con innovación para ofrecerte una experiencia única en cada bocado.

    Nuestros flanes son más que postres; son obras maestras de sabor y textura que hemos perfeccionado con años de experiencia y amor por la cocina. 
    Utilizamos solo los ingredientes más frescos y de la más alta calidad para garantizar un producto final que deleitará tus sentidos y te dejará con ganas de más.

    En OnlyFlans, nos enorgullece no solo de la calidad de nuestros productos, sino también del servicio excepcional que brindamos a cada cliente. 
    Desde el momento en que entras por nuestras puertas, te recibimos con una sonrisa cálida y una atención personalizada para asegurarnos de que tu visita sea inolvidable.

    Ya sea que estés buscando un regalo especial, un postre para compartir con tus seres queridos o simplemente un capricho dulce para ti mismo, estamos aquí para satisfacer todos tus antojos de flan.
    Ven y descubre por qué somos la elección preferida de los amantes del dulce en Ovalle. ¡Esperamos verte pronto en OnlyFlans!</p>
{% endblock %}